<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock already exist.</title>
</head>
<body>

<h1>Something went wrong.</h1>

<h2> The company {{company}}, ticker:  {{ticker}} is already saved in our app! </h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/qs8caOw2gok?autoplay=1"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>

