<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyFinancePal</title>
</head>
<body>
    <h1>Welcome to your finance app. Here are the stocks you have:</h1>

    <table style="background-repeat:no-repeat; width:650px;margin:0px;" cellpadding="0" cellspacing="0" border="1">
        <tr style="height:50px; width:650px; margin:0;">
            <th align="center">Ticker</th>
            <th align="center">Company</th>
            <th align="center">Country</th>
            <th align="center">Amount</th>
            <th align="center">P&L</th>
            <th align="center"></th>
        </tr>
        {% for x in stocks %}
            <tr style="height:50px; width:650px; margin:10px;">
                <td align="center">{{ x.ticker }}</td>
                <td align="center">{{ x.company }}</td>
                <td align="center">{{ x.country }}</td>
                <td align="center">{{ x.amount }}</td>
                <th align="center">{{x.profit_and_loss}}</th>
                <td align="center">
                    <form action="{{ url_for('delete', ticker=x.ticker) }}" method="post">
                        <input class="danger" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('create') }}">Add stock</a>
</body>
</html>